body{
	background: url(https://images.unsplash.com/photo-1451153378752-16ef2b36ad05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1494&q=80)center center / cover no-repeat;
}
html{
	height: 100%
}
.card{
height: 450px;
margin-top: 50px;
margin-bottom: auto;
width: 600px;
background-color: rgba(0,0,0,0.7) !important;
}

.input-group-prepend span{
width: 50px;
background-color: #828589;
color: black;
border:0 !important;
}

.card-header{
	color: white;
}
.input-group-prepend span{
width: 50px;
background-color: #828589;
color: black;
border:0 !important;
}